<form action="/new" method="POST">
    <label for="content">Message: </label>
    <textarea name="text" id="content"></textarea>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <button type="submit">Post Message</button>
</form>