<div class="header">
    <h1 class="title">Mini Message Board</h1>
    <% if(type=='new') { %>
        <a href="/"><button>Home</button></a>
    <% } else{ %>
        <a href="/new"><button>New Message</button></a>
    <% } %>
</div>